.keys {
  display: flex;
  justify-content: space-between;
}
.key {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}
.playing {
  transform: scale(1.1);
  color: black;
  background-color: aqua;
}
